{% extends 'notes/index.html.twig' %}
{% block title %}Notes: Language{% endblock %}
{% block heading %}
    <h1>notes index by language: {{ language }}</h1>
{% endblock %}
{% block back %}
    <a class="NotesIndex__BackButton"
       href="{{ path('notes_index') }}">back</a>
{% endblock %}
{% block search %}{% endblock %}
