.Button {
    display: inline-block;
    border-radius: 0; //----------------------------------------------------------------------------
    // MODIFIER
    //----------------------------------------------------------------------------
    &--new {
        position: fixed;
        bottom: 150px;
        right: 150px;
        color: white;
        background-color: @color-new;
        padding: 22px;
        border-radius: 100%;
        border: 3px solid @color-new;
        transition: all @transition-time;
        &:hover,
        &:focus,
        &:active {
            color: @color-new;
            background-color: white;
            text-decoration: none;
        }
    }
    &--search {
        color: white;
        background-color: @color-update;
    }
    &--danger {
        color: white;
        background-color: @color-delete;
    }
}