.Crib {
  .Link {
    margin: 0;
  }
  //----------------------------------------------------------------------------
  // ELEMENTS
  //----------------------------------------------------------------------------
  &__Body {
    &Content {
      margin-top: 25px;
      padding-top: 25px;
      &:nth-child(even) {
        background: #ebebeb;
      }
      &:nth-child(odd) {
        border-left: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
      }
      &Comment {
        padding-left: 25px;
      }
    }
  }
}
