.Link {
  display: block;
  text-align: center;
  margin-top: 50px;
  //----------------------------------------------------------------------------
  // MODIFIER
  //----------------------------------------------------------------------------
  &--login {
    color: @color-new;
  }
  &--logout {
    color: @color-delete;
  }
}
