// main: ../main.less
.Link {
  display: block;
  text-align: center;
  margin-top: 50px;
  background-color: transparent;
  padding: 0;
  //----------------------------------------------------------------------------
  // MODIFIER
  //----------------------------------------------------------------------------
  &--login {
    color: @color-new;
  }
  &--logout,
  &--delete {
    color: @color-delete;
  }
  &--edit {
    color: @color-update;
  }
}
