.SearchForm {
  display: block;
  text-align: center;
  margin-bottom: 60px;
  .form-group {
    display: inline-block;
    input {
      border-radius: 0;
    }
    .Link {
      margin: 0;
      background-color: transparent;
    }
  }
}
